:root {
  --primary-text-color: #757575;
  --title-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --primary-white-color: #ffffff;
  --primaty-black-color: #000000;
  --second-grey-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --button-hero-hover-color: #188ce8;
  --header-boader-color: #ececec;
  --second-main-background-color: #e5e5e5;
  --icon-color: #afb1b8;
  --gradient-hero-color: rgba(47, 48, 58, 0.4);
  --transition: 300ms;
  --animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-hover-focus: 250ms;
  --footer-accent-color: #31d0aa;
}
/* Утилиты */
.list {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 16px;
  padding-left: 16px;
  max-width: 1200px;
  width: 100%;
}

.page-header {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  /* font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  color: var(--accent-color); */

  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 21px;
  letter-spacing: 0.54px;
  word-wrap: break-word;
}
.part-logo {
  color: var(--primaty-black-color);
}

/*Шапка*/

.mob-menu {
  position: fixed;
  padding-left: 40px;
  padding-top: 24px;
  padding-bottom: 40px;
  padding-right: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  z-index: 2;
}

.open-menu-btm {
position: absolute;
  right: 16px;
  width: 32px;
  height: 22px;
}


.close-menu-btm {
  display: block;
  width: 24px;
  height: 24px;
  margin-left: auto;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 32px;
  background: #ffffff;
}

.header-menu-item:not(:last-child) {
  margin-bottom: 40px;
}

.header-menu-link {
  font-size: 36px;
  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.019em;
  color: #2e2f42;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.menu-contacts-item:not(:last-child) {
  margin-bottom: 40px;
}

.phone {
  color: #4d5ae5;
  font-size: 36px;

  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.mail {
  color: #434455;
  font-size: 20px;

  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.socials-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 56px;
}

.socials-menu {
  justify-content: left;
  margin-top: 48px;
}

.socials-menu-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: var(--accent-color);
  border-radius: 50%;
}

.site-nav {
  display: none;
}

.contacts-nav {
  display: none;
}

.hero {
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  background-size: cover;
  background-color: var(--hero-bg-color);
}

.overlay {
  margin-left: auto;
  margin-right: auto;

  height: 432px;

  background-image: linear-gradient(
      to right,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-hero.jpg);
  background-repeat: no-repeat;
}

.hero-title {
  margin-bottom: 72px;
  margin-left: auto;
  margin-right: auto;

  font-size: 36px;

  font-weight: 700;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.02em;

  width: 320px;
  height: 80px;

  color: var(--primary-white-color);
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: var(--primary-white-color);

  background-color: var(--accent-color);
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: #404bbf;
  cursor: pointer;
  transition: var(--transition-hover-focus);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

/* Особенности */

.features {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.features .item {
  width: 100%;
  position: relative;
}

.features-title {
  text-align: center;
  margin-bottom: 8px;

  font-weight: 700;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
  font-size: 36px;
  text-transform: capitalize;
  line-height: 1.11;
  letter-spacing: 0.045em;
}
.features-text {
  color: #434455;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.03em;
}

.features-box-icon {
  display: none;
}

.section-ourwork {
  display: none;
}

/* Наша команда */
.team {
  background-color: var(--second-grey-color);
}
.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
}

.team-list > .item {
  width: 264px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}

.team-name {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-proff {
  margin-top: 10px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
/* Наши клиенты */
.title-clients {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 72px;
  gap: 72px 16px;
}

.clients-list .item {
  width: 190px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 190px;
  height: 88px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin: 0;
}
.clients-icon {
  fill: var(--icon-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: #404bbf;
  transition: var(--transition-hover-focus);
}
.clients-link:hover,
.clients-link:focus {
  border-color: #404bbf;
  transition: var(--transition-hover-focus);
}

/* Подвал */
.footer {
  display: flex;

  padding-top: 97.5px;
  padding-bottom: 96px;

  background-color: #2e2f42;

  letter-spacing: 0.03em;
}

.footer-description {
  text-align: center;
}

.footer-logo {
  margin-bottom: 17.5px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16;

  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.text-logo {
  color: var(--primary-white-color);
}

.footer-description-text {
  text-align: left;
  margin-top: 17.5px;
  color: #f4f4fd;
  font-size: 16px;

  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;

  width: 268px;
  height: 72px;
}

.footer-info {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  gap: 72px;
  justify-content: center;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: var(--accent-color);
  border-radius: 50%;
}

.footer-socials {
  text-align: center;
}

.footer-socials .socials {
  gap: 16px;
}

.footer-socials .socials-link {
  background-color: var(--accent-color);
}

.socials-footer-link {
  gap: 16px;
}

.footer-socials .socials-icon {
  fill: var(--primary-white-color);
}

.footer .socials-link:hover {
  background-color: var(--footer-accent-color);
}

.subscribe {
  text-align: center;
}

.subscribe-input {
  margin-bottom: 16px;
  color: var(--primary-white-color);
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-input {
  width: 398px;
  height: 40px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: transparent;
  color: var(--primary-white-color);
}
.footer-input::placeholder {
  color: var(--primary-white-color);

  font-weight: 400;
  line-height: 2;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.footer-button {
  display: flex;

  align-items: center;
  justify-content: center;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
  min-width: 165px;
  height: 40px;

  border-radius: 4px;

  cursor: pointer;
  border: none;

  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;

  color: var(--primary-white-color);

  background-color: var(--accent-color);
}

.footer-btn-icon {
  margin-left: 16px;
}

.footer-button:hover {
  background-color: #404bbf;
}

.link-title {
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
}

.projects-buttons {
  padding: 8px 16px;

  background-color: var(--second-grey-color);
  color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}

.projects-buttons:hover,
.projects-buttons:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: var(--transition-hover-focus);
}
.button-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin-right: auto;
  margin-left: auto;
  gap: 16px 24px;
  margin-bottom: 48px;

  align-items: center;
  padding-right: 133px;
}

/* .button-list .item + .item {
  margin-left: 24px;
} */

.project-list {
  display: flex;
  /* gap: 48px 24px; */
  gap: 48px;
  flex-wrap: wrap;
}

.projects-item {
  overflow: hidden;
  position: relative;
  width: 396px;
  height: 400px;
  /* flex-basis: calc((100% - 48px) / 3); */

  background-color: var(--primary-white-color);
}
.projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: var(--transition-hover-focus);
}

.product-cover:hover .products-cover-block {
  transform: translate(0);
}

.projects-name {
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-img {
  width: 100%;
}

.projects-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.description {
  padding: 20px 20px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.products-cover-block {
  position: absolute;
  height: 100%;
  background-color: var(--accent-color);
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform var(--transition-hover-focus);
}
.product-cover {
  overflow: hidden;
  position: relative;
}
.products-cover-text {
  padding: 40px 32px 164px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.socials-team-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: var(--accent-color);
  border-radius: 50%;
}

.socials-icon {
  fill: var(--primary-white-color);
}

.socials-link:hover {
  background-color: #404bbf;
  transition: var(--transition-hover-focus);
}

/* Модальне вікно */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition), visibility var(--transition);
}
.modal {
  position: relative;
  width: 392px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px 24px;
}

.modal-title {
  text-align: center;
  width: 100%;
  color: #2e2f42;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btm {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 24px;
  top: 24px;

  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.modal-btm-icon {
  position: relative;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btm:focus,
.modal-btm:hover {
  background-color: #404bbf;
  fill: var(--primary-white-color);
}

.modal-title {
  color: #2e2f42;
  margin-bottom: 16px;
  font-size: 16px;
  max-width: 360px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  word-wrap: break-word;
}

.modal-field {
  margin-bottom: 8px;
}

.textarea {
  margin-bottom: 16px;
}

.checkbox-conteiner {
  margin-bottom: 24px;
}

.modal-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  border: 0.5px rgba(46, 47, 66, 0.4) solid;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: #4d5ae5;
}

.modal-input:focus + .input-icon {
  fill: #4d5ae5;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: #8e8f99;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.48px;
  word-wrap: break-word;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  padding: 8px 16px;
  margin-bottom: 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 4px;
  border: 0.5px rgba(46, 47, 66, 0.4) solid;
  outline: transparent;
  resize: none;
}

.modal-textarea:focus {
  border-color: #4d5ae5;
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.48px;
}
.check-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  font-weight: 400;
  align-items: center;
}

.check-text span {
  margin-right: 8px;
}

.checkbox-text {
  display: inline-flex;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info-checkbox:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-send-btn {
  display: block;
  align-items: center;
  justify-content: center;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  margin: 24px 96px;

  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--primary-white-color);
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: #404bbf;
  transition: var(--transition-hover-focus);
}

@media screen and (min-width: 428px) {
  .container {
    max-width: 428px;
  }

  .features .item {
    max-width: 396px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .open-menu-btm {
    display: none;
  }

  
  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .main-nav {
    display: flex;
    align-items: center;
  }
  .site-nav {
    display: flex;
    margin-left: 120px;
  }
  .site-nav .item + .item {
    margin-left: 40px;
  }

  .site-nav .link.link-current {
    color: var(--accent-color);
  }

  .site-nav .link {
    display: block;

    position: relative;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }

  .link-current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 2px;
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
    transition: var(--transition-hover-focus);
  }
  .contacts-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
  }
  .contacts-nav {
    gap: 12px;
  }
  .contacts-nav .link {
    display: flex;
    align-items: center;
    margin-left: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .contacts-nav .link:hover,
  .contacts-nav .link:focus {
    color: var(--accent-color);
    transition: var(--transition-hover-focus);
  }

  .overlay {
    height: 436px;
    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-hero.jpg);
    background-repeat: no-repeat;
  }

  .hero-title {
    margin-bottom: 36px;
    margin-left: auto;
    margin-right: auto;

    font-size: 56px;

    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    word-wrap: break-word;

    width: 496px;
    height: 120px;
  }

  .features {
    gap: 72px 24px;
  }
  .features-title {
    text-align: left;
  }
  .features .item {
    max-width: unset;
    width: calc((100% - 24px) / 2);
  }

  /* .features-box-icon {
    display: none;
  } */

  .team-list {
    gap: 64px 24px;
  }

  .clients-list {
    gap: 72px 24px;
  }

  .clients-list {
    justify-content: center;
  }

  .clients-list .item {
    width: 168px;
  }
  .clients-link {
    width: 168px;
  }

  .footer .container {
    padding-left: 108px;
  }

  .footer-info {
    justify-content: left;
    gap: 72px 24px;
  }

  .footer-description {
    text-align: left;
  }

  .footer-input {
    width: 264px;
  }

  .footer-form {
    justify-content: left;
    gap: 24px;
    flex-direction: row;
  }

  .footer-socials {
    text-align: left;
  }

  .subscribe {
    text-align: left;
  }

  .socials {
    padding: 0;
  }

  .footer-button {
    margin: 0;
  }

  .button-list {
    justify-content: center;
  }

  .project-list {
    gap: 72px 24px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .site-nav {
    display: flex;
    margin-left: 93px;
  }
  .site-nav .item + .item {
    margin-left: 50px;
  }

  .site-nav .link:hover,
  .site-nav .link:focus {
    color: var(--accent-color);
    transition: var(--transition-hover-focus);
  }
  .contacts-nav {
    display: flex;
    margin-left: auto;
  }
  .contacts-nav .item + .item {
    margin-left: 50px;
  }

  .open-menu-btm {
    display: none;
  }

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .overlay {
    height: 600px;

    background-image: linear-gradient(
        to right,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
  }

  .hero-title {
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;

    font-size: 56px;

    font-weight: 700;
    text-transform: capitalize;
    line-height: 1.11;
    letter-spacing: 0.02em;

    width: 496px;
    height: 120px;

    color: var(--primary-white-color);
  }

  .features .item {
    max-width: unset;
    width: calc((100% - 72px) / 4);
  }

  .features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.14;
    line-height: 1.2;
    letter-spacing: 0.4px;
  }

  .features-box-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--second-grey-color);
    border-radius: 4px;
    width: 264px;
    height: 120px;
  }
  .features-icon {
    align-items: center;
    justify-content: center;
  }

  .team-list {
    flex-wrap: nowrap;

    gap: 24px;
  }
  .team-list .item {
    width: calc((100%-72px) / 4);
  }

  .clients-list {
    flex-wrap: nowrap;
    gap: 24px;
  }

  .clients-list .item {
    width: 168px;
  }

  .section-ourwork {
    display: flex;
    padding-top: 0;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }

  .work-list .item:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .work-title {
    margin-bottom: 72px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
  }

  .footer {
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 101.5px;
    padding-bottom: 100px;
  }

  .footer .container {
    padding-left: 16px;
  }

  .footer-info {
    justify-content: left;
    gap: 0;
  }

  .footer-logo {
    align-items: left;
  }

  .footer-description {
    display: block;
    margin-right: 120px;
    width: 264px;
  }
  .footer-socials {
    margin-right: 80px;
  }

  .footer-button {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .projects-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  .project-list {
    gap: 48px 24px;
  }

  .button-list {
    align-items: center;
    justify-content: center;
    padding-right: 0;
  }
}
